@import "../../../styles/variables.scss";

.papers-list {
    display: grid;

    &__row {
        cursor: pointer;

        &--is-archival {
            background-color: $green;
        }

        &--is-selected {
            background-color: $primary;
        }
    }
}

table {
    width: 100%;
}

