.papers-list {
    display: grid;

    &__row {
        cursor: pointer;

        &--is-archival {
            background-color: green;
        }

        &--is-selected {
            background-color: darkslategrey;
        }
    }
}

table {
    width: 100%;
}

