@import '../../../styles/variables.scss';

.control-panel {
    display: grid;
    padding: 16px;
    gap: 16px;

    &__search-section {
        position: relative;
        display: grid;
        gap: 8px;
        grid-template-columns: 3fr 2fr 168px;
    }

    &__search-buttons-group {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 16px;
        gap: 8px;
    }

    &__edit-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__edit-buttons-group {
        display: flex;
        gap: 8px;
        justify-content: space-between;
    }
}

.add-button {
    background-color: $yellow;
}

